body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.home-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('./img/background2.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-app{
    background-color: rgba(255, 255, 255, 0.561);
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: -10px;
}

.container-user-info{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px ;
}

.input-user-info{
    background-color: rgba(255, 255, 255, 0.561);
    border: solid #000000 1px;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

.text-user-info{
    font-weight: 600;
    margin: 5px 0;
}

.container-btn-login{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.btn-login{
    border: solid #ffffff 1px;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    background-color:#4A499A;
    color: #ffffff;
}

.recover-password{
    position: relative;
    top: 50px;
}

.menu-view{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.342)),url('./img/background2.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: -20px;
}

.title-menu{
    padding: 0 53px; 
    position: relative;
    top: 50px;
    color: white;
}

h2{
    font-weight: 500;
}

.container-btns-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
    position: relative;
    top: 60px;
}

.btn-menu{
    background-color: rgba(0, 0, 0, 0.698);
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid white 2px;
    color: white;
    margin: 14px;
}

.img-menu{
    width: 40px;
    margin-bottom: 10px;
}

.cipher-view{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.342)),url('./img/background2.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.btn-cipher{
    border: solid #000000 1px;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
    background-color: #4A499A;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.container-word-selected{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.input-word-selected{
    background-color: rgba(255, 255, 255, 0.561);
    border: solid #000000 1px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    font-size: 20px;
    padding: 5px;
}

.word-selected{
    font-weight: 500;
    margin: 30px 0 5px 0;
    color: white;
}

.word-cipher{
    text-align: center;
    font-size: 35px;
}

.result-cipher{
    font-size: 35px;
}

#btn-opt-cipher-view{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 75px;
}


@media screen and (min-width: 768px) {
    .home-view{
        background-image: url(./img/background.jpg);
    }

    .user-form{
        background-color: #ffffff93;
        padding: 55px;
        border-radius: 10px;
    }

    .title-app{
        background: none;
    }

    .container-btn-login {
        margin-top: 25px;
  }
}